$mycolor: lightblue;
$myfontsize: 20px;
$myfontColor: red;

//------- import common file called reset.sass
@import "reset";
//---------------------------------------------------

body{
    background-color: $mycolor;
}

// nesting in sass/scss
section{
    .content{
        font:{
            family: Helvetica, sans-serif;
            size: 18px;
            weight: bold;
        }
    }
}
// -------------- end nesting in sass/scss -------------


//-------------- @mixin and @include ---------------------

@mixin redColor-text{
    color: red;
    font-size: 30px;
    font-weight: bold;
}

// now include the redColor-text

.important{
    @include redColor-text();
    background-color: yellow;
}


//------------ End @mixin and @include --------------------------

//--------------- @extend -------------------------

.testBtn-basic {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

//now use testBtn-basic in other button classes

//-------------- End @extend --------------