$mycolor: lightblue;
$myfontsize: 20px;
$myfontColor: red;

@import "reset";

body{
    background-color: $mycolor;
}

section{
    .content{
        font:{
            family: Helvetica, sans-serif;
            size: 18px;
            weight: bold;
        }
    }
}